<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {'title': 'register'})  %>
<body>
    <%- include('partials/header')  %>
    <main>
        <form class="form-box" action="/users/register" method="POST" enctype="multipart/form-data">
            
                
            <div>
                <label for="">Nombre y apellido</label><br>
                <input 
                    type="text" 
                    placeholder="Ej: Juan Salguero" 
                    name="fullname"
                    class="<%= locals.errors && errors.fullname ? "error-box" : null %>"
                    value = "<%= locals.oldData? oldData.fullname : null %>">   
                <% if (locals.errors && errors.fullname){ %>
                    <p><%= errors.fullname.msg%></p>
                <% } %>
            </div>

            <div>
                <label for="">Nombre de usuari@</label><br>
                <input 
                    type="text" 
                    placeholder="Ej: JuanSalguero96" 
                    name="username" 
                    class="<%= locals.errors && errors.username ? "error-box" : null %>"
                    value = "<%= locals.oldData? oldData.username : null %>">
                    
                <% if (locals.errors && errors.username){ %>
                    <p><%= errors.username.msg%></p>
                <% } %>
            </div>

            <div>
                <label for="">Email</label><br>
                <input 
                    type="email" 
                    placeholder="Ej: juansalguero@gmail.com" 
                    name="email"
                    class="<%= locals.errors && errors.email ? "error-box" : null %>"
                    value = "<%= locals.oldData? oldData.email : null %>">
                <% if (locals.errors && errors.email){ %>
                    <p><%= errors.email.msg%></p>
                <% } %>    
            </div>

            <div>
                <label for="">Fecha de Nacimiento</label><br>
                <input type="date" name="age" value ="<%= locals.oldData? oldData.age : null %>" >

            </div>

            <div>
                <label for="">Domicilio</label><br>
                <input type="text" placeholder="Ej: Calle Falsa 123" name="adress" value = "<%= locals.oldData? oldData.adress : null %>">
            </div>

            <div>
                <label for="">Perfil del usuario</label><br>
                <select name="usertype" value = "<%= locals.oldData? oldData.usertype : null %>">
                    <option disabled selected>Selecciona una opcion</option>
                    <option value="comprador">Comprador</option>
                    <option value="vendedor">Vendedor</option>
                </select>
                
            </div>

            <div class="checkboxes" >                       
                <label for="">Categorias de interes</label><br>
                <input type="checkbox" name="categories" value="electro">Electro
                <input type="checkbox" name="categories" value="moda">Moda
                <input type="checkbox" name="categories" value="hogar">Hogar
                <input type="checkbox" name="categories" value="jugueteria">Juguetería
                <input type="checkbox" name="categories" value="vida-sana">Vida sana
            </div>

            <div> 
                <label for="">Foto de usuario</label><br>
                <input type="file" name="avatar">
            </div>

            <div>
                <label for="">Contraseña</label><br>
                <input 
                    type="password"
                    name="password" 
                    placeholder="*******" 
                    class="<%= locals.errors && errors.password ? "error-box" : null %>">
                <% if (locals.errors && errors.password){ %>
                    <p><%= errors.password.msg%></p>
                <% } %>
            </div>

            <div>
                <label for="">Confirmar contraseña</label><br>
                <input 
                    type="password" 
                    name="passwordconfirmation" 
                    placeholder="*******" 
                    class="<%= locals.errors && errors.passwordconfirmation ? "error-box" : null %>">
                <% if (locals.errors && errors.passwordconfirmation){ %>
                    <p><%= errors.passwordconfirmation.msg%></p>
                <% } %>
            </div>
             <div class="register-buttons">
                 <button class="reset" type="reset">Reiniciar formulario</button>
                 <button class="submit" type="submit">Registrarme</button>
             </div>           
        </form>
        <%- include('partials/footer')  %>
    </main>    
</body>
</html>